* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    background-color: cornsilk
}

body {
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#content {
    text-align: center;
    background-color: cornsilk;

}

.header {
    display: flex;
    background-color: cornflowerblue;
}

.logo {
    background-color: cornflowerblue;
    font-size: 6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: firebrick;
    text-decoration:underline;
}

.navContainer {
    display: flex;
    padding: 22px 22px 0;
    width: 100vw;
    flex-direction: row-reverse;
    background-color: cornflowerblue;
    margin: 0;
}

.tab {
    background-color: grey;
    height: fit-content;
    padding: 22px;
    border: 2px solid black;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    font-size: 3rem;
    margin: 0;
    width: 222px;
}

#tabActive {
    background-color: firebrick;
}

#tabActiveInitial {
    background-color: palegoldenrod;
}

.pageTitle {
    font-size: 4rem;
    color: red;
}

img {
    overflow: hidden;
    border-radius: 11%;
}

.tab:hover {
    background-color: blue;
    cursor: pointer;
    color: white;
    transform: scale(1.05)
}